{% load i18n %}
<hr>
<footer class='row footer'>
	
	<div class='span8 pull-right'>
	
				<!-- Facebook -->
			    <iframe class='pull-left' src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2FWyomaFilms&amp;send=false&amp;layout=button_count&amp;width=120&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font=verdana&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:120px; height:21px;" allowTransparency="true"></iframe>
	    		<div id="fb-root"></div>


					<!-- Twitter -->
			    <iframe class='pull-left' allowtransparency="true" frameborder="0" scrolling="no" height='20px'
				src="http://platform.twitter.com/widgets/follow_button.html?screen_name=wyomafilms&lang=en"></iframe>

				<!-- Google+ -->
				<div class='pull-left'>
				<a href="//plus.google.com/111172606105087143160?prsrc=3" rel="publisher" style="text-decoration:none;display:inline-block;color:#000;text-align:center; font:13px/16px arial,sans-serif;white-space:nowrap;" target="_blank">
				<span style="display:inline-block;font-weight:bold;vertical-align:top;margin-right:5px; margin-top:0px;">Wyoma Films</span><span style="display:inline-block;vertical-align:top;margin-right:13px; margin-top:0px;">on</span>
				<img src="//ssl.gstatic.com/images/icons/gplus-16.png" alt="Google+" style="border:0;width:16px;height:16px;"/></a>
				</div>

	</div>
	<div class='span4'>
		{% trans "&copy; 2013 &lt; Wyoma Films Inc. &gt;" %}
	</div>
</footer>



<!-- BADGES
================================================== -->
<!-- Facebook Badge -->
<script type='text/javascript'>
  (function(d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s); js.id = id;
	js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
	fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>