{% load staticfiles %}
{% load url from future %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8" />
        <title>{% block head_title_base %}{% if SITE_NAME %}{{ SITE_NAME }} | {% endif %}{% block head_title %}{% endblock %}{% endblock %}</title>
        {% block viewport %}
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        {% endblock %}

        {% block favicon %}
            <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
        {% endblock %}

        {% block style_base %}

            <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
            <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">
            <link href="{% static 'css/base_style.css' %}" rel="stylesheet">
            <link href="{% static 'css/base_responses.css' %}" rel="stylesheet">
            {% block extra_style %}{% endblock %}
        {% endblock %}

        {% block extra_head_base %}
            {% block extra_head %}{% endblock %}
        {% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}" id="{% block body_id %}{% endblock %}">

        <div class="{% block wrapper_class %}{% endblock %}">
        <!--
        <img id='header' src="{% static 'img/wyoma_plain_text.png' %}" style='width:100%;' onclick="window.open('{% url 'home' %}', '_self', false);"> -->
        <header onclick="window.open('/', '_self', false);">
            <img class='header' src='{{ STATIC_URL }}img/wyoma_films_header.png'>
        </header>


            {% block navigation %}
                <div class="navbar {% block navbar_class %}navigation{% endblock %}">
                    <div class="navbar-inner">
                        <div class="container">
                            {% block navbar %}
                                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </a>
                                {% block site_brand %}<a class="brand" href="{% url 'home' %}">Wyoma Films</a>{% endblock %}
                                <div class="nav-collapse collapse navbar-responsive-collapse nav-pills">
                                    {% block nav %}
                                            <ul class="nav">
                                                <li><a href="#indevelopment">In Development</a></li>
                                                <li><a href="#contact">Contact</a></li>
                                                <li><a href="#about">About</a></li>
                                                <li><a href="#news">News</a></li>
                                                <li><a href="#portfolio">Portfolio</a></li>
                                                
                                            </ul>
                                    {% endblock %}
                                    {% block account_bar %}{% include "_account_bar.html" %}{% endblock %}
                                </div>
                            {% endblock %}
                        </div>
                    </div>
                </div>
            {% endblock %}
            <div class='nav-breaker'>&nbsp;</div>

            {% block body_base %}
                <div class="container">
                    {% include "_messages.html" %}
                    {% block body %}
                    {% endblock %}
                    {% block footer_base %}
                        {% include 'blurbs.html' %}
                        <footer>
                            {% block footer %}{% endblock %}
                        </footer>
                    {% endblock %}
                </div>
            {% endblock %}
        </div>

        {% block script_base %}
            <script type="text/javascript" src="{% block jquery_src %}//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js{% endblock %}"></script>
            <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"></script>

            <script src="{% static 'js/bootstrap.min.js' %}"></script>
            <script src="{% static 'js/custom_theme.js' %}"></script>

            <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
            <script src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
            
            <!-- Activate NiceScroll -->
            <script type='text/javascript'>
                $(document).ready(function() {
                        $("html").niceScroll();
                    });
            </script>

            <!-- Scroll up icon -->
            <a class='scrollup' href="#">Scroll</a>
            <script type='text/javascript'>
                $(window).scroll(function() {
                    if ($(this).scrollTop() > 100) {
                        $('.scrollup').fadeIn();
                    } else {
                        $('.scrollup').fadeOut();
                    }
                });

                $('.scrollup').click(function() {
                    $("html, body").animate({
                        scrollTop: 0
                    }, 200);
                    return false;
                });
            </script>
            {% block extra_script %}{% endblock %}
        {% endblock %}

        {% block extra_body_base %}
            {% block extra_body %}{% endblock %}
        {% endblock %}
    </body>
</html>
