{% extends "banner_base.html" %}

{% load i18n %}
{% load url from future %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

load{% block body_class %}home{% endblock %}

{% block body %}
    <a href="{% url 'indevelopment' %}"><img src="{{ STATIC_URL }}img/mgatc_landing.jpg" style='width:100%;'></a>
    <div class="hero-unit">
    <h1>{% trans "Welcome to Wyoma Films" %}</h1>
    <p>
        Peruse our <a href="{% url 'portfolio' %}">portfolio</a>, please.  Find out what we're working on
        right now and get excited because we think it's our finest work yet.

        We made a <a href='http://www.kickstarter.com/projects/chrisguerrero/mike-garcia-and-the-cruz-a-punk-rock-usc-thesis-fi'>Kickstarter project</a> and raised $10,736 to produce
        <a href="{% url 'indevelopment' %}">Mike Garcia and The Cruz</a>.  We've been putting this
        money to good use.  We have a lot of great shots.  Check out behind the scenes footage and photos on our <a href='http://facebook.com/wyomafilms'>Facebook/wyomafilms</a> or <a href='http://twitter.com/wyomafilms'>Twitter/wyomafilms - @wyomafilms</a>.
    </p>
    <p>
        <button class='btn btn-primary' onclick="window.open('/newsletter/wyoma-films/subscribe', '_self', false);">Subscribe</button> to our newsletter and get updates delivered straight to your inbox.
    </p>
    
    <h2>About Wyoma Films</h2>
    <p>
        Wyoma Films is a Film, Television, Commercial, and Web Content Development and Production company based out of Los Angeles, CA. The company was founded in January, 2007 by Mario and Chris Guerrero.

        Our mission is to create innovative and engaging original content that redefines traditional mediums.

    </p>

     </div>
    {% comment %}
        {% if user.is_authenticated %}
            {% url what_next as what_next_url %}
            <p class="what_next">{% blocktrans %}Wondering <a href="{{ what_next_url }}" class="btn primary large">What Next</a>?{% endblocktrans %}</p>
        {% else %}
            {% url account_login as login_url %}
            {% url account_signup as signup_url %}
            <p>{% blocktrans %}You can <a href="{{ login_url }}" class="btn">Log In</a> or <a href="{{ signup_url }}" class="btn primary">Sign Up</a> to try out the site.{% endblocktrans %}</p>
        {% endif %}
    {% endcomment %}

{% endblock %}
