{% extends 'site_base.html' %}

{% block body %}
<div class='news-item container' onclick="window.open('http://www.studiosystemnews.com/five-directors-to-watch/', false);">
	<div class='row'>
		<img class='span4' src='https://sphotos-b.xx.fbcdn.net/hphotos-prn1/1010054_10151727628664571_1953454515_n.jpg'>

		<div class='span8'>
			<h2 class='news-title'>Five Directors to Discover Online</h2>
			<p class='news-date'>July 15th, 2013</p>

			<p class='news-description'>Wyoma Films' Chris Guerrero is one of the top 5 up and coming directors to watch for online.</p>

				<a class='news-link' href='http://www.studiosystemnews.com/five-directors-to-watch/'>http://www.studiosystemnews.com/five-directors-to-watch/</a>
			

		</div>
	</div>
</div>




<div class='news-item container' onclick="window.open('http://newsfeed.time.com/2012/04/07/the-hipster-games-we-liked-this-hunger-games-parody-before-it-was-cool/', false);">
	<div class='row'>
		<img class='span4' src='http://b.vimeocdn.com/ts/274/228/274228892_295.jpg'>

		<div class='span8'>
			<h2 class='news-title'>The Hipster Games - time.com</h2>
			<p class='news-date'>April 7th, 2013</p>

			<p class='news-description'>Time.com liked The Hipster Games before it caught on.</p>

				<a class='news-link' href='http://newsfeed.time.com/2012/04/07/the-hipster-games-we-liked-this-hunger-games-parody-before-it-was-cool/' target='_blank'>http://newsfeed.time.com/2012/04/07/the-hipster-games-we-liked-this-hunger-games-parody-before-it-was-cool/</a>
		</div>
	</div>
</div>



{% endblock %}