{% extends "custom_theme_base.html" %}

{% load i18n %}
{% load url from future %}

{% block extra_head_base %}
    {% block extra_head %}{% endblock %}
{% endblock %}



{% block navigation %}	

	<div class='container' id='navigation' >

	{% block account_bar %}{% include "_account_bar.html" %}{% endblock %}

	{% block nav %}
		<ul class="nav nav-pills">
		    <li class=""><a href="{% url 'portfolio' %}">Portfolio</a></li>
		    <li class=""><a href="{% url 'news' %}">News</a></li>
		    <li class=""><a href="{% url 'about' %}">About</a></li>
		    <li class=""><a href="{% url 'contact' %}">Contact</a></li>
		    <li class=""><a href="{% url 'indevelopment' %}">In Development</a></li>
		</ul>
	{% endblock %}


	</div>
{% endblock %}


{% block footer %}
    {% include "_footer.html" %}
{% endblock %}

{% block extra_body_base %}

    {% block extra_body %}{% endblock %}
{% endblock %}

