/* Base CSS Styling for WyomaFilms.com written by Glen Baker */

/* 
	GLOBAL Styling
*/

#videos {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

#videos .active {
    background-color: #fff;
}



.header {
    width: 960px;
    float: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

.header:hover {
    cursor: pointer; 
}


.scrollup{
    width:40px;
    height:40px;

    opacity:0.6;
    filter:alpha(opacity=60); /* For IE8 and earlier */

    position:fixed;
    bottom:30px;
    right:20px;
    display:none;
    text-indent:-9999px;
    background: url('../img/icon_top_blue.png') no-repeat;
}

.nav-breaker {
    border-bottom: .5em solid #231f20;

    padding: 0;
    margin-top: -30px;
}



body {
    /* background: url('../img/mooning.png') repeat; */
}

html, body {
	height: 100%;

    /* Verdana-based sans serif stack */
    font-family: Corbel, "Lucida Grande", 
                "Lucida Sans Unicode", "Lucida Sans", 
                "DejaVu Sans", "Bitstream Vera Sans", 
                "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
}

#header:hover {
    cursor: pointer;
}

footer {
	padding-top: 20px;
	height: 60px;
}

#wrapper {
	min-height: 100%;
}

#main {
	padding-bottom:150px; /* this needs to be bigger than footer height*/
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.hero-unit {
    padding-top: 10px;
    padding-bottom: 15px;

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;

}

/*
	Nav UI Styling
*/
.navbar .nav {
    background-image: none;
    background-color: none;
}


/* Non-Active Pill Links */
.nav-pills>li>a {
	color: #000;
}

/* Pill Links on Hover */
.nav-pills>li>a:hover {
    color: #C9960C;

    /* 
    background: url('../img/blurb_border.jpg');
    background-repeat:no-repeat;
    background-size: cover; */

}

/* Active Pill Links */
.nav-pills>.active>a {
	color: #000;
    background-color: #C9960C;
}

/* Active Pill Links on Hover */
.nav-pills>.active>a:hover {
    background-color: #C9960C;
}

.nav-tabs .open .dropdown-toggle, .nav-pills .open .dropdown-toggle, .nav > li.dropdown.open.active > a:hover, .nav > li.dropdown.open.active > a:focus {
    color: #ffffff;
    background-color: #C9960C;
    border-color: #C9960C;
}

.nav-pills a,
.nav-pills li a {
    font-size: 150%;
}


/*  BLURB Styling */

.blurb {


    background-image: url('../img/blurb_border.jpg');
    background-size:100% 100%;
    background-repeat:no-repeat;
    
    margin-top: 20px;

    opacity:.75;
    filter:alpha(opacity=75); /* For IE8 and earlier */

}

.blurb:hover {
    
    opacity:1;
    filter:alpha(opacity=100); /* For IE8 and earlier */

    cursor: pointer; 
}

.blurb-text {
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;

    text-align: center;

}

.selected {
    opacity:1;
    filter:alpha(opacity=100); /* For IE8 and earlier */
}

/* ACCOUNT */

.account {
    background-color: #fff;
}

.loginform {
    background-color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

#signup_form {
    background-color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.contactform {
    background-color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}


/* ABOUT */

.portrait {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

}

.portrait:hover {

}

/* NEWSLETTER */

.subscribeform {
    background-color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

/* Video Player Styling */

#playlist {
    /* These settings keep everything looking right while jquery loads up */
    overflow: hidden;
    height: 400px;
}

.vjs-default-skin { color: #c9d96b }
.vjs-play-progress, .vjs-volume-level { background-color: #b2d4e6 }
.vjs-control-bar, .vjs-big-play-button { background: rgba(38,140,217,0.7) }
.vjs-slider { background: rgba(38,140,217,0.2333333333333333) }
.vjs-control-bar { font-size: 103% }


/* News Styling */
.news-item {
    /* border-bottom: 1px solid black; */

    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;    
    padding-top: 1px;

}

.news-item:hover {
    background-color: #fff;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black; 


    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 9px;
    padding-top: 0;

    cursor: pointer; 

    
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.news-title {

}

.news-date {
    text-decoration: underline;
}

.news-description {

}

.news-link {

}

.newspost-preview {
    width: 310px;
    height: 200px;
}










