/* Wyoma Films Responsive CSS */

@media(max-width: 960px) {

}


@media (max-width: 767px) {

	.hero-unit {
		padding-left: 10px;
		padding-right: 10px;
	}



}

@media (max-width: 480px) {

	
	footer {
		padding-top: 0;
		height: 40px;
		margin-top: 0;
	}

}