/* Wyoma Films Responsive CSS */


@media (max-width: 767px) {

	.centered {
	    width: 767px;
	    margin: 20px auto 0;
	}

}

@media (max-width: 480px) {

	.centered {
	    width: 480px;
	    margin: 15px auto 0;
	}

}