{% extends 'site_base.html' %}

{% load i18n %}

{% block head_title %}{% trans "About" %}{% endblock %}

{% block body %}
	
	<div class='hero-unit'>
		<h1>About Wyoma Films</h1>
		<img class='pull-right' style='width: 640px; margin-left: 10px; margin-bottom: 10px;' src='{{ STATIC_URL}}img/hipsterbanner.jpg'>

		<p>Wyoma Films is a Film, Television, Commercial, and Web Content Development and Production company based out of Los Angeles, CA. The company was founded in January, 2007 by Mario and Chris Guerrero.</p>

		<p>Our mission is to create innovative and engaging original content that redefines traditional mediums.</p>
	</div>


	<div class='container'>
		
			{% for person in object_list %}
				{% if forloop.counter == 1 or forloop.counter == 3 %} 
					{% comment %} Every 3 people we make a row for {% endcomment %} 
					<div class='row'>
				{% endif %}
				<div class='span4'>
					<div class=' portrait'>
						<img class='' style='width: 300px; height: 300px;' src='{{ person.image.url }}'>
						<h2>{{ person.name }}</h2>
						<h3>{{ person.title }}</h3>
						<a href='mailto:{{ person.email }}'>{{ person.email }}</a>
						{% if person.fun_fact %}
							<h5>{{ person.fun_fact }}</h5>
						{% endif %}
						<p>{{ person.bio }}</p>
						{% if person.extra_bio %}
							<p>{{ person.extra_bio }}</p>
						{% endif %}
						{% if person.linkedin %}
							<p><a href='{{ person.linkedin }}' target='_blank'>View Linkedin</a></p>
						{% endif %}
						{% if person.vimeo %}
							<p><a href='{{ person.vimeo }}' target='_blank'>View Vimeo</a></p>
						{% endif %}
					</div>
				</div>
				{% if forloop.counter == 3 or forloop.counter = 6 %} 
					{% comment %} Every 3 people we close the row div {% endcomment %} 
					</div>
				{% endif %}
			{% endfor %}				
	</div>
{% endblock %}
